@import '~@blueprintjs/core/lib/scss/variables';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $pt-dark-app-background-color;
}

@import '~@blueprintjs/core/lib/css/blueprint';
