@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$bright-sky: #80ced2;
$night-sky: #85577e;
$lime: #b1d133;
$tangerine: #f99d1b;
$sea: #5a9090;
$sun: #d5562b;
$sand: #f7f0da;
$asphalt: #2f3737;

$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-serif: 'Source Serif Pro', serif;
$family-secondary: $family-serif;

$primary: $bright-sky;
$link: $sea;
$text: $asphalt;

@import '~bulma/bulma';

.checkbox input {
  margin-right: 0.5rem;
}

.attendance-table {
  overflow-x: auto;

  td {
    cursor: pointer;
    vertical-align: middle;
  }

  tr td:first-child,
  tr th:first-child {
    background-color: white;
    position: sticky;
    left: 0;
    white-space: nowrap;
    z-index: 1;
  }
}

.assignment-table {
  > thead > tr > th,
  > tbody > tr > td {
    text-align: center;
  }

  > thead > tr > th:not(:first-child),
  > tbody > tr > td:not(:first-child) {
    cursor: pointer;
  }
}
